.Fortune .fortune-button {
  font-size: 16px; 
  font-weight: 600;
  background-color: green;
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 15px; 
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  cursor: pointer; 
  transition: all 0.3s ease; /* Smooth transition for interactions */
  margin: 5px; /* Add some space between the buttons */
  margin-right: 65px;
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.1));
}

.Fortune .fortune-reset {
  font-size: 16px; 
  font-weight: 600;
  background-color: gray;
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 15px; 
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
  transition: all 0.3s ease; 
  margin: 5px; 
  margin-left: 65px;
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.1));
}

.Fortune .fortune-button:hover, .Fortune .fortune-reset:hover {
  background-color: rgb(1, 79, 1); /* Slightly darker shade when hovered */
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
}

.Fortune .fortune-reset:hover {
  background-color: red; /* Slightly darker shade when hovered */
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
}

.Fortune .fortune-button:active, .Fortune .fortune-reset:active {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2); 
}

.Fortune .fortune-text {
  margin-top: 5px;
  margin-bottom: -25px;
  margin-left: auto; /* Center the box horizontally */
  margin-right: auto; /* Center the box horizontally */
  padding: 55px; 
  background-color: rgb(0, 0, 0); 
  color: white; 
  font-size: 20px; 
  font-weight: 600;
  border-radius: 15px; 
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); 
  max-width: 600px;
}
