.Fortune .fortune-button {
  font-size: 16px; 
  font-weight: 600;
  background-color: #8f60d6;
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 15px; 
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  cursor: pointer; 
  transition: all 0.3s ease; /* Smooth transition for interactions */
  margin: 5px; /* Add some space between the buttons */
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.1));
}

.Fortune .fortune-reset {
  font-size: 16px; 
  font-weight: 600;
  background-color: #eb97b0;
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 15px; 
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
  transition: all 0.3s ease; 
  margin: 5px; 
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.1));
}

.Fortune .fortune-button:hover, .Fortune .fortune-reset:hover {
  background-color: #673ca9; /* Slightly darker shade when hovered */
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
}

.Fortune .fortune-reset:hover {
  background-color: #d96a8c; /* Slightly darker shade when hovered */
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
}

.Fortune .fortune-button:active, .Fortune .fortune-reset:active {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2); 
}

.Fortune .fortune-text {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
