.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This makes the App fill the viewport height */
  text-align: center;
}

.App .main-content {
  flex-grow: 1;
}

.App .header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

